.App {
  text-align: center;
}

button.sel-button {
  margin-left: 10px;
}

div.container {
  display: flex;
}

div.select-player-table {
  height: 600px;
  width: 615px;
  overflow: auto;
  scrollbar-color: #73AD21 wheat;
}

div.auction-center {

  margin-left: 125px;
  margin-top: 25px;
  display: flex;

}

div.auction-timer {

  margin: 30px;

}

div.team-card {

  margin-top: 115px;
  width: 350px;
  justify-content: center;

}

table.yourTeamtable {
  margin: 0 auto;
  table-layout: fixed;
}

::-webkit-scrollbar {
  width: 5.5px;
  background: #8e9f7641;
}

::-webkit-scrollbar-thumb {
  background: #23320e;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #000;
}